<!-- app/views/categories/index.html.erb -->

<h1>Categories</h1>

<% @categories.each do |category| %>
  <div>
    <%= category.name %> - <%= category.icon %> - Total Amount: <%= category_total_amount(category) %>
    <%= link_to "View Transactions", category_transactions_path(category) %>
  </div>
<% end %>

<%= link_to "Add a New Category", new_category_path %>
