<%= stylesheet_link_tag 'transaction', media: 'all' %>


<nav class="navbar">
<a href="<%= categories_path %>" class="back-button">
  <%= image_tag('arrow-left.svg', alt: 'Back', style: 'cursor: pointer; width:22px; filter: invert(1);') %>
</a>
<h1> Transaction</h1>
</nav>

<% @transactions.each do |transaction| %>
  <div>
    <%= transaction.name %> - <%= transaction.amount %>
  </div>
<% end %>

<%= link_to "Add a New Transaction", new_category_transaction_path(@category) %>
