<%= stylesheet_link_tag 'newforms', media: 'all' %>
<nav class="navbar">
<a href="<%= categories_path %>" class="back-button">
  <%= image_tag('arrow-left.svg', alt: 'Back', style: 'cursor: pointer; width:22px; filter: invert(1);') %>
</a>
<h1>Add a new transaction</h1>
</nav>


<%= form_with(model: @transaction, url: category_transactions_path(@category)) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :amount %>
    <%= form.number_field :amount, required: true %>
  </div>

  <div>
    <%= form.label :categories, "Categories (select at least one)" %>
    <%= form.collection_select(:category_ids, current_user.categories, :id, :name, { include_blank: false }, { multiple: true, class: 'form-control', required: true }) %>
  </div>

  <div>
    <%= form.submit "Save" %>
  </div>
<% end %>
